
*{
    padding: 0;
    margin: 0;
}
body{
   background-color: rgb(0, 0, 0);
   
   font-family: sans-serif;
   
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(background.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   background-color: black;
   height: 700px;
}
.nav-logo{
    
   border: 1px solid transparent;
width: 80%;
height: 70px;
margin-left: 10%;
display: flex;
    
}
.logo{
    box-sizing: border-box;
    
    border: 2px solid transparent;
    height: 100%;
    margin-top:2px ;
    width: 20%;
    background-image: url(logo-removebg-preview1.png);
    background-size: 160px;
    margin-top: 18px;
    background-repeat: no-repeat;
}
.language{
    margin-left: 60%;
}
.language select{
    float: right;
    background: transparent;
    margin-left:60% ;
    width: 100px;
    height: 50%;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 20px;
   color: rgb(255, 255, 255);
   border: 2px solid white;

}
.sign{
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: red;
    color: aliceblue;
    height: 35px;
    width: 100px;
    margin-left: 2%;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    
    

}
a{
    text-decoration: none;
    color: white;
}
.color{
    color: white;
}
.sub{
    
    display: flex;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin-top: 20px;
    width: 40%;
    margin-left: 30%;
    height: 60px;

}

.headline{
    text-align: center;
    font-size: 3em;
    margin-top: 15%;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;

}
.join{
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    font-family: "Gill Sans", sans-serif;
}
.ready{
    text-align: center;
    font-size: 1.3em;
    padding-top: 20px;
    font-family: "Gill Sans", sans-serif;
    
}
.input{
    
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    height: 55px;
    width: 100%;

}
.get-start{
    background-color: red;
    text-align: center;
    width: 40%;
    font-size: 1.5em;
    padding-top: 10px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 7px;
    margin-left: 20px;
    
}

.ho:hover{
    background-color: rgb(203, 9, 9);
    font-weight: 300;
}
.line{
    border: 1px solid transparent;
    background-color: rgb(53, 50, 50);
    height: 7px;
}

.first{
    display: flex;
    color: white;
    margin-left: 10%;
    width: 70%;
    height: 650px;
    justify-content: center;
   
}
.para{
    box-sizing: border-box;
    border:2px solid transparent;
    height: 200px;
    margin-top: 20%;
   
}
.main{
    font-size: 3em;
    
}
p{
    font-size: 1.5em;
    padding-top: 10px;
}
.image{
    height: 333px;
    width: 444px;
 margin-top: 8%;
}

.second{
    display: flex;
    color: white;
    margin-left: 8%;
    height: 650px;

}
.para2{
    margin-top: 20%;
    margin-left: 10%;
  margin-right: 15%;

}
.headline2{
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
    font-weight: bold;
}

.questions{
    margin-top: 25px;
   
    font-size: 1.2em;
}
.que{
    box-sizing: border-box;
    border: 1px solid transparent;
    margin-top: 20px;
    height: 85px;
    width: 70%;
    margin-left: 15%;
   padding-top: 30px;
padding-left: 10px;
background-color: rgb(45, 42, 42);

}
.que:hover{
    background-color: rgb(60, 56, 56);
}
.ready1{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
    padding-top: 20px;
    font-family: "Gill Sans", sans-serif;
}
.q{
    display: flex;

}
.add{
    padding-right: 20px;
   
    color: aliceblue;
   float: right;
}

.foot{
    margin-left: 15%;
 
    margin-top: 60px;
}
.footerr{
    display: flex;
color: rgb(194, 179, 179);
text-decoration: underline;
margin-top: 20px;
margin-left: 15%;


}
.t{
    margin-top: 10px;
    color: rgb(194, 179, 179);
}
.t2{
    color: rgb(194, 179, 179);
    margin-top: 10px;
    padding-left: 200px;
    box-sizing: border-box;
border: 2px solid transparent;
}
.t1{
    margin-top: 10px;
    color: rgb(194, 179, 179);
    margin-left: 200px;
}
input{
    color: white;
    white-space: 2px;
    font-size: 1rem;
}
.india{
    text-decoration: none;
    text-decoration: unset;
}